* {
    color: palevioletred;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-size: 18px;
    color: black;
}

#hometown{
    color: rosybrown
}


#hiddenmessage{
    display: none;
    color:darkgreen;
    font-size: 15px;
    font-style: italic;
}


#reveal-button {
    background-color: pink;
    color: white;
    padding: 10px 15px;
    border: none;
    font-weight: bold;

    &:hover {
        background-color: darkgreen;
        box-shadow: 0px 8px 20px rgba(0,0,0,0.3); 
    }
}

img{
    max-width: 90%;
}

#star_png{
    width:80px;
}

body {
    background-color: lightyellow;
}

@keyframes change {
    from {background-color: lightyellow;}
    to {background-color: lightpink;}
}

div {
    max-width: 100%;
    height: 10px;
    position: relative;
    background-color: lightyellow;
    animation-name: change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

